:root {
    --blue: #577399;
    --accent: #CA895F;
    --mint: #B3EFB2;
    --green: #537A5A;
    --black: #251605;
}

body{
    background-color: var(--mint);
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
}

#main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    height:90vh;
}

#main>*{
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
    width: 100%;
}

#main>label{
    padding-bottom:0;
    margin-bottom:0;
}

#main>p{
    text-align: center;
}

#game_key_display {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

#clock{
    position: absolute;
    top: 10px;
    border: solid 1px black;
    border-radius: 100em;
    width:2em;
    height:2em;
    text-align:center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}