:root {
    --blue: #577399;
    --button: #b7cbe6;
    --button_light: #d9e1ec;
    --accent: #ffdbbf;
    --mint: #B3EFB2;
    --green: #537A5A;
    --black: #251605;
    --background: #f2fcf2;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
    background-color: var(--background);
}

#header{
    background-color: var(--mint);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#title{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    margin:0.3em 0 0.3em 0;
}

button {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.4em;

    background-color: var(--button);

    border: 0;
    max-width: 10em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    height:90vh;
    font-size:1.2em;
    position:relative;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #main{
        width:70%;
    }
}

@media only screen and (min-width: 2000px) {
    /* For ultra-wide monitors: */
    #main{
        width:600px;
    }
}

#main>*{
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
    width: 100%;
}

#main>label{
    padding-bottom:0;
    margin-bottom:0;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.4em;
}

#username_input, #key_input, #response_input {
    background-color: var(--button_light);
    border:0;
    border-radius: 4px;
    font-size:1.2em;
    padding:0.3em;
}

#username_submit {
    margin-top: 0.4em;
}

#main>p{
    text-align: center;
}

#game_key_display {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 1em 0.3em 1em 0.3em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    font-size:1.4em;
    border-radius: 4px;
}

#player_list > p {
    background-color: var(--button_light);
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    border-radius: 4px;
}

#clock{
    position: absolute;
    top: 10px;
    border-radius: 4px;
    width:3em;
    height:3em;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_light);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#response_div, #word_section {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
}

#response_div > p, #word_section > p {
    font-size:1.1em;
    margin: 0;
}

#word_section > p {
    background-color: var(--button_light);
    margin:0.3em;
    padding:0.2em;
}

#word_section > p:hover {
    background-color: var(--blue);
}