:root {
    --blue: #577399;
    --button: #b7cbe6;
    --button_light: #d9e1ec;
    --accent: #b38f9c;
    --mint: #B3EFB2;
    --green: #537A5A;
    --black: #251605;
    --background: #f2fcf2;

    --gold: #d4af37;
    --silver: #c0c0c0;
    --bronze: #cd7f32;

    --shadow-colour: #181F285a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

#header {
    background-color: var(--mint);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#title {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    margin: 0.3em 0 0.3em 0;
}

button {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;

    background-color: var(--button);

    border: 0;
    max-width: 10em;
    border-radius: 4px;
    box-shadow: 0 10px 5px 0 var(--shadow-colour);
    margin-bottom: 0.5em;
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90vh;
    font-size: 1.2em;
    position: relative;
}

#main > *:not(.confetti) {
    width: 100%;
}

#main > label {
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
}


#main > p {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #main {
        width: 70%;
    }
}

@media only screen and (min-width: 2000px) {
    /* For ultra-wide monitors: */
    #main {
        width: 600px;
    }
}

#username_input, #key_input, #response_input {
    background-color: var(--button_light);
    border: 0;
    border-radius: 4px;
    font-size: 1.2em;
    padding: 0.3em;
    box-shadow: 0 10px 5px 0 var(--shadow-colour);
    margin-bottom: 1.2em;
}

#username_submit {
    margin-top: 0.4em;
}

#game_key_display {
    margin-bottom: 1em;
    padding: 1em 0.3em 1em 0.3em;
    width: 100%;

    font-weight: bold;
    font-size: 1.4em;
    text-align: center;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 4px;
    box-shadow: 0 10px 5px 0 var(--shadow-colour);
}

#player_list > p {
    background-color: var(--button_light);
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    border-radius: 4px;
    box-shadow: 0 10px 5px 0 var(--shadow-colour);
}

#player_list > .ready {
    background-color: var(--mint);
}

#clock {
    position: absolute;
    top: 10px;
    border-radius: 4px;
    width: 3em;
    height: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_light);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#response_div, #word_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#response_div > p, #word_section > p {
    font-size: 1.1em;
    margin: 0;
}

#word_section > p {
    background-color: var(--button_light);
    margin: 0.3em;
    padding: 0.2em;
}

#word_section > p:hover {
    background-color: var(--blue);
}

/* Voting */
#voting_area {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#voting_area > button {
    align-self: end;
    justify-self: center;

}

#name_area, #intro_area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.voting_name, .voting_intro {
    width: 70%;
    background-color: var(--button_light);
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    border-radius: 4px;
    margin: 1em 0 1em 0;
}

.voting_intro {
    cursor: move;
}

.dragging {
    opacity: .5;
}

/* Results Page */
.results_elem {
    display: flex;
    align-items: center;
    max-width: 400px;
    animation: slideIn 0.5s ease forwards;
}

.results_name_elem {
    background-color: var(--button_light);
    text-align: center;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
    padding: 0.3em 0 0.3em 0;
}

.results_score_elem {
    border-radius: 0px 4px 4px 0px;
    width: 1.5em;
    background-color: var(--accent);
    text-align: center;
    padding: 0.3em 0 0.3em 0;
}

.gold {
    background-color: var(--gold);
}

.silver {
    background-color: var(--silver);
}

.bronze {
    background-color: var(--bronze);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.confetti{
    position: fixed;
    width: 10px;
    height: 10px;
    animation: confetti-fall 5s linear;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}
