<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static',filename='js/admin.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/admin.css') }}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Intro Admin</title>
</head>

<body onload = main()>

<section id = "main">

    <div id="players"></div>

</section>

</body>
</html>